
/* global style */
body {
    font-family: "inter", sans-serif;
    background-color: #E4ECF4;
    margin: 0;
}

p {
    color: #4C586A;
    margin: 16px 0px 16px 0px;
}

hr {
    border: 1px solid #E4ECF4;
    margin: 16px 0px 16px 0px;
}

ol {
    color: #4C586A;
    padding-left: 16px;
}


/* Layout composition*/
.section {
    display: flex;
    justify-content: space-evenly;
    gap: 64px;
}

.flex {
    display: flex;
}

.end {
    justify-content: end;
    gap: 16px;
}

.container {
    background-color: white;
    padding: 32px;
    margin: 32px;
    border-radius: 8px;
}

.header {
    text-align: center;
    color: #0994DD;
    margin: 0;
}


/* form style */
form {
    border: 1px solid #E4ECF4;
    border-radius: 8px;
    padding: 32px;
    margin: 0;
}


/* Label & input style */
.label {
    font-weight: 600;
    margin-top: 16px;
}

.space {
    margin-top: 8px;
}

input[type="number"]{
    border: 1px solid #CDD7E3;
    border-radius: 4px;
    width: -webkit-fill-available;
    margin-top: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: none;
}

input[type="number"]:focus {
    border: 1px solid #0994DD;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.padding {
    padding: 12px 16px 12px 16px;
}


/* result style */
.box {
    text-align: center;
    background-color: #F7F9FB;
    border: 1px solid #E4ECF4;
    border-radius: 8px;
    padding: 32px;
    margin-top: 16px;
}

.result {
    font-size: 32px;
    font-weight: 500;
}


/* button style */
.width {
    width: 100%;
}

.margin-top {
    margin-top: 32px;
}

button {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.line-button {
    border: 1px solid #CDD7E3;
    color: #4C586A;
    background-color: transparent;
}

.line-button:hover {
    background-color: #CDD7E3;
}

.disabled-button {
    color: #CDD7E3;
    background-color: #CDD7E3;
}


/* color style button */
.white {
    color: white;
}

.blue {
    background-color: #0994DD;
}

.blue:hover {
    background-color: #0776B1;
}

.green {
    background-color: #19AE48;
}

.green:hover {
    background-color: #148B3A;
}


/* responsive web */
@media screen {
    
}

